* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.wrapper {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #524797;
  box-shadow: 0 8px 12px;
  padding: 40px;
  border-radius: 12px;
}

header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0 12px #c3b7db;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 24px;
  background-color: #fff;
  color: #524797;
}

header .fa-rotate {
  font-size: 24px;
  cursor: pointer;
}

header .fa-rotate:hover {
  transition: 1.5s;
  transform: rotate(360deg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

main #form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 12px #c3b7db;
  border-radius: 8px;
  padding: 2px;
  margin-bottom: 30px;
}

main #form .toDoInput {
  font-size: 1rem;
  padding: 8px;
  border: none;
  background-color: #fff;
  width: 100%;
  outline-color: #524797;
  border-radius: 6px;
}

main #form .addToDo {
  background-color: #fff;
  border: none;
  padding: 4px 8px;
}

main #form .addToDo .fa-circle-plus {
  font-size: 24px;
  color: #524797;
  box-shadow: 0 6px 6px;
  border-radius: 50%;
  cursor: pointer;
}

main #form .addToDo .fa-circle-plus:hover {
  transition: ease-out 1s;
  transform: scale(1.5);
}

main .toDoList {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .toDoList li {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 12px;
  margin-bottom: 8px;
  padding: 8px 12px;
}

main .toDoList li .itemWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 95%;
}

main .toDoList li .fa-trash-alt {
  display: none;
}

main .toDoList li .fas {
  font-size: 1.5rem;
  cursor: pointer;
}

main .toDoList li .fas:hover {
  transform: scale(1.5);
}

main .toDoList li .box {
  width: 1.3rem;
  height: 1.3rem;
  background-color: red;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

main .toDoList li .box:checked {
  background-color: green;
}

main .toDoList li label {
  font-size: 1.2rem;
  width: 90%;
  padding: 2px 8px;
  outline-color: #c3b7db;
  color: #fff;
  word-wrap: break-word;
  text-align: justify;
}

main .clearTask {
  margin-top: 20px;
  width: 100%;
  font-size: 1.2rem;
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 4px #000;
  padding: 6px 0;
  color: #523090;
  font-weight: 900;
  cursor: pointer;
}

main .clearTask:hover {
  transform: scale(1.05);
  background-color: #36b37e;
  color: #fff;
  transition: linear .4s;
}
