* {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d3d3;
}

.wrapper {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #524797;
  box-shadow: 0 8px 12px;
  padding: 40px;
  border-radius: 12px;
}


header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0 12px #c3b7db;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 24px;
  background-color: #fff;
  color: #524797;
}

header .fa-rotate {
  font-size: 24px;
  cursor: pointer;
}

header .fa-rotate:hover {
  transition: 1.5s;
  transform: rotate(360deg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
}

main #form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 0 12px #c3b7db;
  border-radius: 8px;
  padding: 2px;
  margin-bottom: 30px;
}

main #form .toDoInput {
  font-size: 1rem;
  padding: 8px;
  border: none;
  background-color: #fff;
  width: 100%;
  outline-color: #524797;
  border-radius: 6px;
}
